<header id="header" class="header d-flex align-items-center sticky-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center">

      <a href="" class="logo d-flex align-items-center me-auto">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1 class="sitename">MNCloud Service</h1>
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a  [routerLink]="['']"  class="active">Home<br></a></li>
          <!-- <li><a routherlink="about" href="about.html">About</a></li> -->
          <li><a [routerLink]="['/about']" >About</a></li>
          <li><a [routerLink]="['/courses']">Courses</a></li>
          <li><a [routerLink]="['/certificate']">Certificate</a></li>
          <!-- <li><a href="trainers.html">Trainers</a></li>
          <li><a href="events.html">Events</a></li>
          <li><a href="pricing.html">Pricing</a></li>
          <li class="dropdown"><a href="#"><span>Dropdown</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
            <ul>
              <li><a href="#">Dropdown 1</a></li>
              <li class="dropdown"><a href="#"><span>Deep Dropdown</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                <ul>
                  <li><a href="#">Deep Dropdown 1</a></li>
                  <li><a href="#">Deep Dropdown 2</a></li>
                  <li><a href="#">Deep Dropdown 3</a></li>
                  <li><a href="#">Deep Dropdown 4</a></li>
                  <li><a href="#">Deep Dropdown 5</a></li>
                </ul>
              </li>
              <li><a href="#">Dropdown 2</a></li>
              <li><a href="#">Dropdown 3</a></li>
              <li><a href="#">Dropdown 4</a></li>
            </ul>
          </li> -->
          <li><a [routerLink]="['contact']">Contact</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

      <!-- <a class="btn-getstarted"  data-bs-toggle="modal" data-bs-target="#staticBackdrop">Get Started</a> -->
      <!-- <a class="btn-getstarted" [routerLink]="['/login']" >Get Started</a> -->
        <a class="btn-getstarted" [routerLink]="['/login']" >Login</a>


    </div>
  </header>
  <!-- !-- Modal --> 

<!-- Modal -->
  <!-- <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="h4 text-center">Registration</h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
       
        <form action="#">
          <div class="row gy-3 overflow-hidden">
          <div class="col-12">
            <div class="form-floating mb-3">
              <input type="text" class="form-control" name="firstName" id="firstName" placeholder="First Name" required>
              <label for="firstName" class="form-label">First Name</label>
            </div>
          </div>
          <div class="col-12">
            <div class="form-floating mb-3">
              <input type="text" class="form-control" name="lastName" id="lastName" placeholder="First Name" required>
              <label for="lastName" class="form-label">Last Name</label>
            </div>
          </div>
          <div class="col-12">
            <div class="form-floating mb-3">
              <input type="email" class="form-control" name="email" id="email" placeholder="name@example.com" required>
              <label for="email" class="form-label">Email</label>
            </div>
          </div>
          <div class="col-12">
            <div class="form-floating mb-3">
              <input type="password" class="form-control" name="password" id="password" value="" placeholder="Password" required>
              <label for="password" class="form-label">Password</label>
            </div>
          </div>
          <div class="col-12">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" name="iAgree" id="iAgree" required>
              <label class="form-check-label text-secondary" for="iAgree">
                I agree to the <a href="#!" class="link-primary text-decoration-none">terms and conditions</a>
              </label>
            </div>
          </div>
          <div class="col-12">
            <div class="d-grid">
              <button class="btn bsb-btn-xl btn-primary" type="submit">Sign up</button>
            </div>
          </div>
        </div>
        
        </form>
      </div>
      <div class="modal-footer">
        <div class="row">
          <div class="col-12">
            <hr class="mt-0 mb-0 border-secondary-subtle">
            <p class="m-0 text-secondary text-center">Already have an account? <a href="#!" class="link-primary text-decoration-none">Sign in</a></p>
          </div>
        </div>
      </div>
    </div>
  </div> 


</div>-->
 