
  <main class="main">

    <!-- Page Title -->
    <div class="page-title" data-aos="fade">
      <div class="heading">
        <div class="container">
          <div class="row d-flex justify-content-center text-center">
            <div class="col-lg-12">
              <h1>Courses</h1>
              <p class="mb-0">Learning the latest technology courses is crucial in today’s fast-paced digital world. Technology is advancing at an unprecedented rate, with new tools, programming languages, and innovations emerging constantly. To remain competitive, professionals must keep up with these developments by learning the most current technologies.
                            <br/><br/>
                Technology courses cover various fields such as artificial intelligence (AI), machine learning, blockchain, cloud computing, and cybersecurity. These courses not only provide foundational knowledge but also offer hands-on experience, allowing learners to apply what they’ve learned to real-world scenarios. This practical approach is essential for understanding the complexities of modern tech.</p>
            </div>
          </div>
        </div>
      </div>
      <nav class="breadcrumbs">
        <div class="container">
          <ol>
            <li><a [routerLink]="['']">Home</a></li>
            <li class="current">Courses</li>
          </ol>
        </div>
      </nav> 
    </div><!-- End Page Title -->

    <!-- Courses Section -->
    <section id="courses" class="courses section">

      <div class="container">

        <div class="row">

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="course-item">
              <img src="assets/img/course-1.jpg" class="img-fluid" alt="...">
              <div class="course-content">
                <div class="d-flex justify-content-between align-items-center mb-3">
                  <p class="category">Cloud Computing</p>
                  <!-- <p class="price">$169</p> -->
                </div>

                <h3><a href="course-details.html">Microsoft Azure</a></h3>
                <p class="description">Azure is widely used for tasks like virtual machine hosting, app hosting, database management, AI, machine learning, and analytics.</p>
                <div class="trainer d-flex justify-content-between align-items-center">
                  <div class="trainer-profile d-flex align-items-center">
                    <!-- <img src="assets/img/trainers/trainer-1-2.jpg" class="img-fluid" alt=""> -->
                    <!-- <a href="" class="trainer-link">Thangaraj</a> -->
                    <p>Explore further</p>
                  </div>
                  <!-- <div class="trainer-rank d-flex align-items-center">
                    <i class="bi bi-person user-icon"></i>&nbsp;50
                    &nbsp;&nbsp;
                    <i class="bi bi-heart heart-icon"></i>&nbsp;65
                  </div> -->
                </div>
              </div>
            </div>
          </div> <!-- End Course Item-->

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
            <div class="course-item">
              <img src="assets/img/course-2.jpg" class="img-fluid" alt="...">
              <div class="course-content">
                <div class="d-flex justify-content-between align-items-center mb-3">
                  <p class="category">DevOps</p>
                  <!-- <p class="price">$250</p> -->
                </div>

                <h3><a href="course-details.html">Azure DevOps</a></h3>
                <p class="description">Azure DevOps is a set of development tools and services offered by Microsoft for automating the software development life cycle.</p>
                <div class="trainer d-flex justify-content-between align-items-center">
                  <div class="trainer-profile d-flex align-items-center">
                    <!-- <img src="assets/img/trainers/trainer-2-2.jpg" class="img-fluid" alt="">
                    <a href="" class="trainer-link">Thangaraj</a> -->
                    <p>Explore further</p>
                  </div>
                  <!-- <div class="trainer-rank d-flex align-items-center">
                    <i class="bi bi-person user-icon"></i>&nbsp;35
                    &nbsp;&nbsp;
                    <i class="bi bi-heart heart-icon"></i>&nbsp;42
                  </div> -->
                </div>
              </div>
            </div>
          </div> <!-- End Course Item-->

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
            <div class="course-item">
              <img src="assets/img/course-3.jpg" class="img-fluid" alt="...">
              <div class="course-content">
                <div class="d-flex justify-content-between align-items-center mb-3">
                  <p class="category">Programming</p>
                  <!-- <p class="price">$180</p> -->
                </div>

                <h3><a href="course-details.html">JAVA</a></h3>
                <p class="description">Java is a high-level, object-oriented programming language that is designed to be platform-independent.</p>
                <div class="trainer d-flex justify-content-between align-items-center">
                  <div class="trainer-profile d-flex align-items-center">
                    <!-- <img src="assets/img/trainers/trainer-3-2.jpg" class="img-fluid" alt="">
                    <a href="" class="trainer-link">Siva</a> -->
                    <p>Explore further</p>
                  </div>
                  <!-- <div class="trainer-rank d-flex align-items-center">
                    <i class="bi bi-person user-icon"></i>&nbsp;20
                    &nbsp;&nbsp;
                    <i class="bi bi-heart heart-icon"></i>&nbsp;85
                  </div> -->
                </div>
              </div>
            </div>
          </div> <!-- End Course Item-->

        </div>

      </div>

    </section><!-- /Courses Section -->

  </main>
