<main class="main">

    <div class="page-title" data-aos="fade">
      <div class="heading">
        <div class="container">
          <div class="row d-flex justify-content-center text-center">
            <div class="col-lg-8">
              <h1>Internship</h1>
              <p class="mb-0">Internships are a critical component of a student’s educational journey, providing real-world experience that complements academic learning. These opportunities allow students to apply theoretical knowledge in practical settings, enhancing their skills and boosting their employability. Interning helps students gain insights into their chosen industries, develop professional networks, and explore potential career paths.
                <br/><br/>    
                Participating in an internship fosters important soft skills such as communication, teamwork, and problem-solving, which are highly valued by employers. Additionally, working alongside experienced professionals provides mentorship opportunities, allowing students to seek guidance and feedback essential for their growth.
            </div>
          </div>
        </div>
      </div>
      
    </div>
    <section id="courses" class="courses section">
    <h1> Welcome to MNCloud </h1>
    <h2>Internship for Computer Science & Applications</h2>
    <ul>WHY INTERNSHIP IS IMPORTANT?</ul>
    <li>Hands-on Experience: Internships provide real-world experience that helps students apply classroom knowledge to practical situations, enhancing their skills.</li>
      <li>Networking Opportunities: Students can build valuable professional connections, which can lead to job offers and career mentorship.</li>
        <li> Career Exploration: Internships allow students to explore different industries or job roles, helping them make informed decisions about their future career paths. </li>
          <li> Skill Development: Students gain specific technical, communication, and problem-solving skills that make them more attractive to employers after graduation.</li>
            <li> Increased Employability: Completing an internship boosts a student's resume, demonstrating initiative, work ethic, and relevant experience to potential employers. </li>
          </section>
    <!-- <section id="courses" class="courses section">

      <div class="container">

        <div class="row">

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="course-item">
              <img src="assets/img/course-1.jpg" class="img-fluid" alt="...">
              <div class="course-content">
                <div class="d-flex justify-content-between align-items-center mb-3">
                  <p class="category">Cloud Computing</p>
                  
                </div>

                <h3><a href="course-details.html">Microsoft Azure</a></h3>
                <p class="description">Azure is widely used for tasks like virtual machine hosting, app hosting, database management, AI, machine learning, and analytics.</p>
                <div class="trainer d-flex justify-content-between align-items-center">
                  <div class="trainer-profile d-flex align-items-center">
                  
                    <p>Trainer: Thangaraj</p>
                  </div>
                  
                </div>
              </div>
            </div>
          </div> 

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
            <div class="course-item">
              <img src="assets/img/course-2.jpg" class="img-fluid" alt="...">
              <div class="course-content">
                <div class="d-flex justify-content-between align-items-center mb-3">
                  <p class="category">DevOps</p>
                  
                </div>

                <h3><a href="course-details.html">Azure DevOps</a></h3>
                <p class="description">Azure DevOps is a set of development tools and services offered by Microsoft for automating the software development life cycle.</p>
                <div class="trainer d-flex justify-content-between align-items-center">
                  <div class="trainer-profile d-flex align-items-center">
                  
                    <p>Trainer: Thangaraj</p>
                  </div>
                
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
            <div class="course-item">
              <img src="assets/img/course-3.jpg" class="img-fluid" alt="...">
              <div class="course-content">
                <div class="d-flex justify-content-between align-items-center mb-3">
                  <p class="category">Programming</p>
                </div>

                <h3><a href="course-details.html">JAVA</a></h3>
                <p class="description">Java is a high-level, object-oriented programming language that is designed to be platform-independent.</p>
                <div class="trainer d-flex justify-content-between align-items-center">
                  <div class="trainer-profile d-flex align-items-center">
                    <p>Trainer: Siva</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>

    </section> -->

  </main>
